@_footer_background: #222;
@_footer_color: #ccc;
@_footer_body_text: #777;
@_footer_body_color: #ccc;
@_footer_icons: #ccc;
@_footer_icons_after: #ccc;
@_footer_menu_header: #fff;
@_footer_menu_li: #777;
@_footer_menu_a: #fff;
@_footer_copyright: #000;
@_footer_copyright_text: #777;

.footer {
    background-color: @_footer_background;
    color: @_footer_color;
    &__brand {
        display: block;
        margin: 0 auto;
        padding-top: 100px;
    }

    &__body {
        display: block;
        margin: 0 auto;
        padding-top: 34px;
        .text-format(14px, 400, @_footer_body_text);
        line-height: 24px;
        text-align: center;
        padding-bottom: 40px;
        max-width: 770px;
        color: @_footer_body_color;
    }

    &__icons {
        position: relative;
        text-align: center;
        
        ul {
            list-style-type: none;
            padding-left: 10px;
            li {
                display: inline;
                padding: 0 22px;
                a {
                    color: @_footer_icons;
                    text-decoration: none;
                }
            }
        }

        &::after {
            content: "";
            width: 100%;
            height: 1px;
            position: absolute;
            left: 0;
            bottom: -53px;
            background-color:  @_footer_icons_after;
        }
    }

    &__menu {
        margin-top: 125px;

        &__header {
            .text-format(18px, 700, @_footer_menu_header, .5px);
            line-height: 30px;
            text-transform: uppercase;
        }

        ul {
            list-style-type: none;
            padding-left: 0;
            li {
                .text-format(14px, 400, @_footer_menu_li);
                line-height: 40px;

                a {
                    text-decoration: none;
                    color: @_footer_menu_a;
                }
            }
        }

        &__text {
            padding-left: 12px;
        }

        .fa-map-marker-alt {
            padding-right: 7px;
        }
    }

    &__copyright {
        background-color: @_footer_copyright;
        margin-top: 25px;
        padding: 7px 15px 0.1px 15px;
        p {
            // padding-top: 7px;
            width: 100%;
            text-align: center;
            .text-format(14px, 400, @_footer_copyright_text);
            line-height: 30px;
        }
    }
}