@_product_navlink: #000;
@_product_navlink_active: #dd2f13;
@_product_navtabs_navlink_active: #dd2f13;
@_product_navtabs_after: #ddd;
@_product_body_items_hover_boxshadow: rgba(0, 0, 0, 0.2);
@_product_name: #000;
@_product_price: #000;
@_product_icon_item: rgba(0,0,0,0.2);
@_product_icon_item_hover: #dd2f13;

.nav-tabs .nav-link, .nav-tabs .nav-item.show .nav-link {
    margin-top: 88px;
    text-transform: uppercase;
    .text-format(18px, 700, @_product_navlink, .5px);
    line-height: 24px;
    padding-left: 18px;
    padding-right: 18px;
}

.nav-tabs .nav-link.active {
    color: @_product_navlink_active;
    border: none;
}

.nav-tabs .nav-item .nav-link.active {
    position: relative;

    &::after {
        content: '';
        width: 100%;
        height: 2px;
        position: absolute;
        z-index: 1;
        bottom: -9px;
        left: 0;
        background-color: @_product_navtabs_navlink_active;
    }
}

.nav-tabs {
    position: relative;
    border: none;

    &::after {
        content: '';
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: 8px;
        left: 0;
        background-color: @_product_navtabs_after;
    }
}

.product__body {
    margin-top: -6px;

    .product__items {
        margin-top: 36px;
        margin-bottom: 10px;
        position: relative;
        padding-bottom: 15px;

        &:hover {
            box-shadow: 0 0 2.5px @_product_body_items_hover_boxshadow;
            .product-icon__list {
                opacity: 0.8;
            }
        }

        img {
            display: block;
            max-width: 100%;
            height: auto;
            margin: 0 auto;
        }
    }
}

.product__name {
    display: block;
    margin: 0 auto;
    .text-format(14px, 400, @_product_name);
    line-height: 24px;
    padding-top: 25px;
    padding-left: 29px;
}

.product__price {
    padding-top: 1px;
    padding-left: 30px;
    .text-format(14px, 700, @_product_price, 0.05px);
}

.product-icon__list {
    position: absolute;
    right: 20px;
    top: 20px;
    opacity: 0;
}

.product-icon__item {
    display: flex;
    width: 34px;
    height: 34px;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    border-radius: 5px 0 5px 0;
    box-shadow: 0 0 2.5px @_product_icon_item;

    &:hover, .active {
        background-color: @_product_icon_item_hover;
    }
}