@product_navlink: #000;
@product_navlink_active: #dd2f13;
@product_navtabs_navlink_active: #dd2f13;
@product_navtabs_after: #ddd;
@product_body_items_hover_boxshadow: rgba(0, 0, 0, 0.2);
@product_name: #000;
@product_price: #000;
@product_icon_item: rgba(0,0,0,0.2);
@product_icon_item_hover: #dd2f13;

.nav-tabs .nav-link, .nav-tabs .nav-item.show .nav-link {
    margin-top: 87px;
    text-transform: uppercase;
    .text-format(18px, 700, @product_navlink, 0, 'Poppins Bold');
    line-height: 24px;
    padding-left: 17px;
    padding-right: 18px;
}

.nav-tabs .nav-link.active {
    color: @product_navlink_active;
    border: none;
}

.nav-tabs .nav-item .nav-link.active {
    position: relative;
    padding-top: 10px;
    padding-right: 18px;

    &::after {
        content: '';
        width: 100%;
        height: 2px;
        position: absolute;
        z-index: 1;
        bottom: -6px;
        left: 0;
        background-color: @product_navtabs_navlink_active;
    }
}

.nav-tabs {
    position: relative;
    border: none;

    &::after {
        content: '';
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: 10px;
        left: 0;
        background-color: @product_navtabs_after;
    }
}

.product__body {
    margin-top: -6px;

    .product__items {
        margin-top: 36px;
        margin-bottom: 8px;
        position: relative;
        padding-bottom: 15px;

        &:hover {
            box-shadow: 0 0 2.5px @product_body_items_hover_boxshadow;
            .product-icon__list {
                opacity: 0.8;
            }
        }

        img {
            display: block;
            max-width: 100%;
            height: auto;
            margin: 0 auto;
        }
    }
}

.product__name {
    display: block;
    margin: 0 auto;
    .text-format(14px, 400, @product_name, 0.05px);
    line-height: 24px;
    padding-top: 25px;
    padding-left: 29px;
}

.product__price {
    padding-top: 1px;
    padding-left: 30px;
    .text-format(14px, 700, @product_price, 0, 'Poppins Bold');
}

.product-icon__list {
    position: absolute;
    right: 20px;
    top: 20px;
    opacity: 0;
}

.product-icon__item {
    display: flex;
    width: 34px;
    height: 34px;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    border-radius: 5px 0 5px 0;
    box-shadow: 0 0 2.5px @product_icon_item;

    &:hover, .active {
        background-color: @product_icon_item_hover;
    }
}