@slide_show_title: #000;
@slide_show_body: #777;
@slide_show_signature: #000;
@slide_show_sub_signature: #000;
@slide_show_carousel: #ccc;

.slide-show {
    position: relative;

    &__title {
        text-align: center;
        .text-format(36px, 700, @slide_show_title, 0, 'Poppins Bold');
        line-height: 30px;
        padding-top: 91px;
        text-transform: capitalize;
    }

    &__img {
        display: block;
        margin: 0 auto;
        margin-top: 56px;
    }

    &__body {
        margin: 0 auto;
        padding-top: 22px;
        max-width: 765px;
        .text-format(18px, 400, @slide_show_body);
        line-height: 31px;
        text-align: center;
    }

    &__signature {
        padding-top: 25px;
        text-align: center;
        .text-format(18px, 700, @slide_show_signature, 0, 'Poppins Bold');
        text-transform: uppercase;
        line-height: 30px;
    }

    &__sub-signature {
        text-align: center;
        .text-format(14px, 400, @slide_show_sub_signature);
        text-transform: initial;
    }

    .carousel::after {
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: -150px;
        left: 0;
        background-color: @slide_show_carousel;
    }

    &__end {
        display: flex;
        flex-wrap: wrap;
        margin-top: 192px;
        margin-bottom: 40px;
        align-items: center;
        justify-content: space-between;
        padding: 0px 20px;

        img {
            margin-left: 3px;
            margin-top: -1px;
        }
    }
}