@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {
    box-sizing: border-box;
    position: relative;
    font-family: "Poppins";
}

.div-format(@_padding: 0, @_margin: 0, @_background-color: #000) {
    padding: @_padding;
    margin: @_margin;
    background-color: @_background-color;
}

.text-format(@_font-size: 0, @_font-weight: 0, @_color: #000, @_letter-spacing: 0, @_font-family: Poppins) {
    font-size: @_font-size;
    font-weight: @_font-weight;
    font-family: @_font-family;
    color: @_color;
    letter-spacing: @_letter-spacing;
}

.flex {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
}

/**************************HEADER****************************/

.header {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;

    &_top {
        .flex;
        // height: 100px;
        background-color: rgba(0, 0, 0, 0.4);
    }

    &__menu {
        margin: 0 auto;
        width: 61%;
        padding-top: 20px;
        color: #eee;



        img {
            padding-top: 5px;
            float: left;
        }

        &--inline {
            float: left;
            padding: 0 65px;
            height: 60px;
            width: 800px;


            ul {
                list-style-type: none;
                padding: 18px 0;

                li {
                    display: inline-block;
                    line-height: 28px;
                    padding: 0 24px;
                    .text-format(16px, 400, #fff, 0, "Poppins");

                    a {
                        text-decoration: none;
                        color: #fff;
                    }
                }
            }
        }
    }

    &-body {
        padding-bottom: 16px;
        padding-top: 22px;

        &::before {
            content: '';
            display: table;
        }

        &::after {
            content: '';
            display: table;
            clear: both;
        }
    }

    &__logo {
        float: left;
        width: 17%;
        height: 100%;
    }

    &__icons {
        float: right;
        width: 14.6%;
        padding-top: 20px;

        ul {
            list-style-type: none;
            padding-inline-start: 0px;
            margin-left: -8px;

            li {
                display: inline-block;
                line-height: 28px;
                padding: 0 23px;
                position: relative;

                &:nth-child(3) {
                    padding-left: 27px;
                    padding-right: 0;

                    &::after {
                        content: '';
                        display: none;
                    }
                }

                &::after {
                    content: '';
                    width: 1px;
                    height: 100%;
                    background: #fff;
                    position: absolute;
                    left: 106%;
                    top: 0;
                }

                a {
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
    }
}


/*****************************BANNER****************************/
.banner_img {
    position: relative;

    img {
        width: 100%;
        max-height: 950px;
    }
}

.banner_introduce {
    position: absolute;
    // height: 320px;
    max-width: 530px;
    left: 372px;
    top: 32%;

}

.banner_title {
    .text-format(60px, 700, #fff, 1px);
    line-height: 70px;

    .banner-subtitle {
        font-size: 40px;
        line-height: 63px;
        letter-spacing: 0.5px;
    }
}

.banner_description {
    padding-left: 3px;
    padding-top: 11px;
    line-height: 24px;
    .text-format(14px, 400, #fff);
}

.banner_btn {
    margin-left: 3px;
    margin-top: 38px;
    width: 170px;
    height: 50px;
    background: none;
    .text-format(14px, 400, #fff, 0);
    border: 1px solid #fff;
}

/*******************************GALLERY****************************/

.gallery {
    margin-top: -76px;

    &__items {
        position: relative;
        background-color: #fff;
        max-height: 250px;
        overflow: hidden;
    }

    &__items:not(:nth-child(3n)) {
        padding-right: 0;
    }

    &__items:not(:nth-child(3n+1)) {
        padding-left: 0;
    }

    .row {
        margin-left: 0;
        margin-right: 0;
    }

    .col-4 {
        padding-left: 0;
        padding-right: 0;
    }

    .row .col-4 img {
        width: 100%;
    }

    .row .col-4 .gallery__icon {
        display: block;
        margin: 0 auto;
        margin-top: 30px;
        width: 53px;
        height: 70px;
    }

    &__h3 {
        .text-format(18px, 700, #000, .6px);
        text-align: center;
        text-transform: uppercase;
        padding-top: 27px;

        &:nth-child(3) {
            letter-spacing: 0.4px;
        }
    }

    &__p {
        padding-top:10px;
        margin: 0 auto;
        .text-format(14px, 400, #777);
        max-width: 316px;
        line-height: 24px;
        text-align: center;
    }
}

// .fix_icon {
//     width: 68px;
//     height: 51px;
//     margin-top: 70px;
// }

/*******************************PRODUCT****************************/

.nav-tabs .nav-link, .nav-tabs .nav-item.show .nav-link {
    margin-top: 88px;
    text-transform: uppercase;
    .text-format(18px, 700, #000, .5px);
    line-height: 24px;
    padding-left: 18px;
    padding-right: 18px;
}

.nav-tabs .nav-link.active {
    color: #dd2f13;
    border: none;
}

.nav-tabs .nav-item .nav-link.active {
    position: relative;

    &::after {
        content: '';
        width: 100%;
        height: 2px;
        position: absolute;
        z-index: 1;
        bottom: -9px;
        left: 0;
        background-color: #dd2f13;
    }
}

.nav-tabs {
    position: relative;
    border: none;

    &::after {
        content: '';
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: -8px;
        left: 0;
        background-color: #ddd;
    }
}

.product__body {
    margin-top: 10px;

    .product__items {
        margin-top: 36px;
        margin-bottom: 10px;
        position: relative;
        padding-bottom: 15px;

        &:hover {
            box-shadow: 0 0 2.5px rgba(0,0,0,0.2);
            .product-icon__list {
                opacity: 0.8;
            }
        }

        img {
            display: block;
            max-width: 100%;
            height: auto;
            margin: 0 auto;
        }
    }
}

.product__name {
    display: block;
    margin: 0 auto;
    .text-format(14px, 400, #000);
    line-height: 24px;
    padding-top: 25px;
    padding-left: 29px;
}

.product__price {
    padding-top: 1px;
    padding-left: 30px;
    .text-format(14px, 700, #000, 0.05px);
}

.product-icon__list {
    position: absolute;
    right: 20px;
    top: 20px;
    opacity: 0;
}

.product-icon__item {
    display: flex;
    width: 34px;
    height: 34px;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    border-radius: 5px 0 5px 0;
    box-shadow: 0 0 2.5px rgba(0,0,0,0.2);

    &:hover, .active {
        background-color: #dd2f13;
    }
}

/******************************SLIDE_SHOW********************************/
.slide-show{
    position: relative;

    &__title {
        text-align: center;
        .text-format(36px, 700, #000, .4px);
        line-height: 30px;
        padding-top: 91px;
        text-transform: capitalize;
    }
    
    &__img {
        display: block;
        margin: 0 auto;
        margin-top: 56px;
    }
    
    &__body {
        margin: 0 auto;
        width: 771px;
        padding-top: 22px;
    
        .text-format(18px, 400, #777);
        line-height: 30px;
        text-align: center;
    }
    
    &__signature {
        padding-top: 25px;
        text-align: center;
        .text-format(18px, 700, #000, .7px);
        text-transform: uppercase;
        line-height: 30px;
    }
    
    &__sub-signature {
        text-align: center;
        .text-format(14px, 400, #000);
        text-transform: initial;
    }

    .carousel::after {
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: -152px;
        left: 0;
        background-color: #ccc;
    }

    &__end {
        display: flex;
        margin-top: 192px;
        margin-bottom: 40px;
        align-items: center;
        justify-content: space-between;
        padding: 0px 20px;
    }
}

/********************************FOOTER**********************************/
.footer {
    background-color: #222;
    color: #ccc;
    &__brand {
        display: block;
        margin: 0 auto;
        padding-top: 100px;
    }

    &__body {
        display: block;
        margin: 0 auto;
        padding-top: 34px;
        .text-format(14px, 400, #777);
        line-height: 24px;
        text-align: center;
        padding-bottom: 42px;
        width: 770px;
        color: #ccc;
    }

    &__icons {
        display: block;
        margin: 0 auto;
    }
}

/******************************RESPONSIVE********************************/
@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}