@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {
    box-sizing: border-box;
    position: relative;
    font-family: "Poppins";
}

.div-format(@_padding: 0, @_margin: 0, @_background-color: #000) {
    padding: @_padding;
    margin: @_margin;
    background-color: @_background-color;
}

.text-format(@_font-size: 0, @_font-weight: 0, @_color: #000, @_letter-spacing: 0, @_font-family: Poppins) {
    font-size: @_font-size;
    font-weight: @_font-weight;
    font-family: @_font-family;
    color: @_color;
    letter-spacing: @_letter-spacing;
}

.flex {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
}


@import "_header.less";
@import "_banner.less";
@import "_gallery.less";
@import "_product.less";
@import "_slide.less";
@import "_footer.less";

/******************************RESPONSIVE********************************/
@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}