body {
  color: #555;
  box-sizing: border-box;
}
/******************HEADER****************/
.header {
  background-color: rgba(0, 0, 0, 0.6);
}
.header .top {
  padding-bottom: 10px;
  /*background: #333;*/
  background: rgba(51, 51, 51, 0.3);
  color: #eee;
}
.header .top a {
  color: #fff;
  font-weight: 200;
}
.header .menu {
  width: 100%;
  height: 100px;
}
.navbar-brand {
  margin-top: 10px;
  margin-left: -4%;
}
.header .menu .navbar .nav-item {
  margin-top: 15px;
  padding-left: 35px;
  font-size: 16px;
  line-height: 28px;
  color: #fff;
  font-weight: 400;
  font-family: Poppins;
  text-align: center;
}
.header .menu .navbar .menu-icon {
  margin-left: 15px;
  padding: 0 5px;
  text-align: right;
}
.header .menu .navbar .menu-icon .nav-link {
  margin-top: 5px;
}
.header .menu .navbar-nav {
  margin-left: 30px;
}
.header .menu .navbar .nav-item .nav-link {
  color: #fff;
}
.header .menu .navbar toggler {
  background: rgba(255, 255, 255, 0.8);
}
.head-image {
  position: relative;
  background-color: #000;
  max-height: 950px;
  overflow: hidden;
}
.head-image img {
  max-width: 100%;
  height: auto;
}
/******************BANNER****************/
.title-banner {
  position: absolute;
  left: 375px;
  top: 300px;
  width: 550px;
  color: #fff;
}
.title-banner h1 {
  font-size: 60px;
  font-weight: 700;
  font-family: Poppins;
}
.title-banner h2 {
  font-size: 40px;
  font-weight: 700;
  font-family: Poppins;
}
.title-banner p {
  margin-top: 5px;
}
.title-content {
  width: 532px;
  height: 60px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400px;
  font-family: Poppins;
  margin-top: 26px;
  margin-left: 5px;
}
.btn {
  margin-top: 15px;
  width: 170px;
  height: 50px;
}
.btn p {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400px;
}
.alt-row {
  display: flex;
}
.img-border {
  margin-top: -75px;
  margin-left: -30px;
  border: 1px solid #fff;
  box-shadow: 1px 1px #888;
  background-color: #fff;
  width: 1170px;
  height: 500px;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
}
.crop-image {
  width: 33.3%;
  padding: 0;
  max-height: 249px;
  overflow: hidden;
}
.crop-image h3 {
  font-size: 18px;
  font-weight: 700;
  font-family: Poppins;
  color: #000;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 32%;
}
.crop-image p {
  font-size: 12px;
  font-weight: 400;
  font-family: Poppins;
  color: #000;
  letter-spacing: 1px;
  text-align: center;
  line-height: 24px;
  margin-top: 5%;
}
.crop-image img {
  max-width: 100%;
  height: auto;
}
/******************PRODUCT****************/
.tabs-menu {
  margin-left: 370px;
  margin-top: 90px;
}
.tabs-menu .nav-pills .nav-item .nav-link {
  padding-left: 25px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: Poppins;
}
.nav-pills .nav-item .active {
  color: #dd2f31;
}
.hr-content {
  margin-top: 5px;
  margin-left: 375px;
  width: 1170px;
  height: 1px;
}
.hr-content-active {
  margin-top: -19px;
  margin-left: 375px;
  width: 143px;
  height: 1px;
  background-color: #dd2f31;
}
.product {
  margin-top: 25px;
  margin-left: 370px;
  width: 1170px;
  height: 720px;
}
.product .product-border {
  margin-top: 20px;
  margin-left: 17px;
  border-radius: 5px;
  width: 270px;
  height: 330px;
  float: left;
}
.product .product-border .product-image {
  height: 270px;
  width: 230px;
}
.product .product-border .product-image img {
  max-width: 90%;
  height: auto;
}
.product .product-border .product-title {
  margin-left: 20px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  font-family: Poppins;
}
.product .product-border .product-btn {
  position: relative;
  width: 34px;
  height: 34px;
  float: right;
}
/******************SLIDE****************/
.slider {
  margin-top: 100px;
  margin-left: 370px;
  width: 1170px;
  height: 630px;
}
.slider-head {
  font-size: 36px;
  line-height: 30px;
  font-weight: 700;
  font-family: Poppins;
  text-align: center;
  color: #000;
}
.slider-ava {
  margin-top: 17px;
  margin-left: 550px;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background-color: #000;
}
.slider-ava img {
  border-radius: 40px;
}
.slider-text {
  margin: auto;
  width: 771px;
  height: 45px;
  font-size: 18px;
  line-height: 30px;
  color: #777;
  font-weight: 400;
  font-family: Poppins;
  text-align: center;
}
.slider-signature {
  margin-top: 15px;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  font-family: Poppins;
  font-weight: 700;
  color: #000;
  letter-spacing: 1px;
}
.slider-smalltext {
  margin: auto;
  width: 771px;
  height: 45px;
  font-size: 18px;
  line-height: 30px;
  color: #777;
  font-weight: 400;
  font-family: Poppins;
  text-align: center;
  font-size: 14px;
  margin-top: -12px;
}
.slider-hr {
  margin-top: 130px;
  margin-left: 5px;
}
.slider-img {
  margin-top: 20px;
  margin-left: 25px;
}
/******************FOOTER****************/
.footer {
  position: absolute;
  margin-top: 3px;
  width: 100%;
  height: 670px;
  background-color: #222;
}
.footer-content {
  margin-top: 100px;
  margin-left: 370px;
  width: 1170px;
  height: 630px;
  height: 225px;
  text-align: center;
  color: #fff;
}
.footer-text {
  margin: auto;
  width: 771px;
  height: 45px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  margin-top: 35px;
  font-size: 14px;
  line-height: 24px;
  font-family: Poppins;
  font-weight: 400px;
  color: #777;
}
.hr-content-dark {
  margin-top: 5px;
  margin-left: 375px;
  width: 1170px;
  height: 1px;
  margin-top: 27px;
  background-color: #444;
  position: absolute;
  z-index: 1;
}
.footer-icons {
  margin-left: -20px;
  margin-top: 40px;
  list-style-type: none;
  font-size: 18px;
  line-height: 30px;
  color: #777;
  font-weight: 400;
}
.footer-icons li {
  display: inline;
  padding: 0 20px;
}
.footer-menu {
  margin-top: 100px;
  margin-left: 370px;
  width: 1170px;
  height: 630px;
  margin-top: 40px;
  height: 300px;
  color: #fff;
}
.footer-menu .menu-title {
  margin-left: -25px;
  margin-top: 60px;
  padding-right: 70px;
  text-align: left;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  font-family: Poppins;
}
.footer-menu .menu {
  margin-left: -28px;
  margin-top: -4px;
  padding-left: 5px;
  padding-top: -10px;
  list-style-type: none;
}
.footer-menu .menu li {
  padding: 1px 0;
  font-size: 14px;
  line-height: 40px;
}
.div-copyright {
  position: relative;
  margin-top: 673px;
  width: 100%;
  height: 50px;
  color: #777;
  background-color: #111;
}
.div-copyright p {
  padding-top: 12px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  font-family: Poppins;
  text-align: center;
}
/******************MEDIA****************/
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .navbar-brand {
    margin-top: -50px;
  }
}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  .navbar-brand {
    margin-top: -20px;
  }
}
/* Medium devices (tablets, 768px and up)*/
/* Large devices (desktops, 992px and up)*/
/* Extra large devices (large desktops, 1200px and up)*/
